<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: rgb(83, 159, 159);
        text-align: center;
      }
      hr {
        width: 600px;
      }
      .container {
        margin-top: 60px;
      }
      #contact-form {
        padding-top: 10px;
        /* margin-top: 80px; */
        width: 500px;
        background-color: black;
        color: white;
        padding: 10px;
        height: 300px;
        margin: auto;
      }
      .form{
        padding: 10px;
      }
      label {
        width: 100%;
        font-size: large;
      }
      input{
        width:80%;
      }
      button{
        width:80%;
        border:none;
        background-color: rgb(83, 159, 159);
        padding: 10px;;
      }
      
    </style>
  </head>
  <body>
    <div>
      <%- include('./partials/nav.ejs') %>
      <br />
      <br />
    </div>
    <br />
    <div class="container">
      <h1>
        WELCOME TO CONTACT US
        <hr />
      </h1>
      <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, odio!
      </P>
      <!-- <p><%= qs.person%></p> -->
      <form id="contact-form" action="/contact" method="post">
        <div class="form">
          <div class="content1">
            <label>Who do you want to contact?</label>
            <br />
            <input type="text" name="name" class="name" value="<%= qs.person %>" />
          </div>
          <br />
          <div class="content1">
            <label>which department?</label>
            <br>
            <input type="text" name="department" class="department" value="<%= qs.dept%>"/>
          </div>
          <br />
          <div class="content1">
            <label>your email</label>
            <br>
            <input type="text" name= "email" class="email" value="<%= qs.email%>"/>
          </div>
          <br>
          <br>
<div class="form-btn">
<button>submit</button>
</div>
        </div>
      </form>
    </div>
  </body>
</html>
